@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 94%;
    margin: 0 auto;
}

.header{
    background-color: #050505;
    padding: 20px 0;
}

.header .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
}

.header__title a{
    text-decoration: none;
    color: #F7F4F4;
}

.header__nav{
    display: flex;
}

.header__nav__link{
    display: block;
    color: #F7F4F4;
    text-decoration: none;
    padding: 15px;
    font-size: 1em;
}

.header__nav__link:hover{

    border-bottom: 1px solid #F7F4F4;
}

.carousel__img {
   width: 100%;
}

.about .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    padding: 25px;
}

.about__title{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15px;
}

.about__box{
    background-color: #465362;
    padding: 20px;
    border-radius: 3px;
}

.about__box__text{
    color: #F7F4F4;
    font-size: 1.2em;
    line-height: 1.5em; 
}

.about__box__text span{
    color: #ACBED8;
    font-weight: bold;
}

.gallery{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ACBED8;
    padding: 25px;
}

.gallery__title{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15px;
}

.accordion{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

.accordion__title{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.accordion__item{
    display:block;
    width:100%;
    box-sizing: border-box;
}

.accordion__item__heading{
    font-weight: bold;
    text-align: center;
    cursor:pointer;
    margin:0px 0px 10px 0px;
    padding:10px;
    background:#465362;
    color:#fff;
    width:100%;
    border-radius: 3px;
    box-sizing: border-box;
}
.close .accordion__item__content{
    height:0px;
    transition:height 1s ease-out;
	transform: scaleY(0);
    float:left;
    display:block;  
}

.open .accordion__item__content{
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display:block;
	transform: scaleY(1);
	transform-origin: top;
	-o-transition: -o-transform 0.4s ease;
	-ms-transition: -ms-transform 0.4s ease;
	transition: transform 0.4s ease;
    box-sizing: border-box;
}

.open .accordion__item__heading{
    margin:0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #bdc3c7;
    color: #7f8c8d;
}

.blog {
    background-color: #949BA0;
    padding: 25px;
}

.blog .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__title{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15px;
}

.blog__box{
    background-color: #050505;
    margin-bottom: 10px;
    color: #F7F4F4;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
}

.blog__box__title{
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer{
    background-color: #050505;
    padding: 20px 0;
    color: #F7F4F4;
}

.footer .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
}



